<body>
  <body background="http://1.bp.blogspot.com/-ssnOnNGSuac/UWEuby8vFfI/AAAAAAAAArw/FdHKVoUWnG8/s1600/Cress_keyboard-3_sprouting_top.jpg">

    <h2> "future home of the best. social. network. ever." </h2>
    <br>
    <h2>Sign in:</h2>
      <form action="/" method="post">
        <label for="auth">Member email</label><br />
        <input id="auth" name="email" type="text" value="" />
        <br />
        <label for="auth">Member Password</label><br />
        <input id="auth" name="player_position" type="text" value="" />
        <br />
        <input type="submit" value="auth" />
      </form>  

    <a href="">Sign Up!</a>
</body>
