  <div class="container">
    <% if session["user"] %>
    <p><%= "You are logged in as: #{session["user"]}" %></p>
    <% else %>
    <p>You are not signed in</p>
    <% end %>
    <h2>Sign in:</h2>
    <form action="/" method="post">
      <label for="auth">Member email</label><br />
      <input id="auth" name="email" type="text" value="" />
      <label for="auth">Member Password</label><br />
      <input id="auth" name="password" type="text" value="" />
      <input type="submit" value="Go!" />
    </form>  

    <button><a href="/sign_up">Sign Up!</a></button>
    <form action="/sign_out" method="post">
      <input type="hidden" id="signing_out" value="" />
      <button>Sign Out</button>
    </form>
  </div>
