<link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'>
<link href='/styles.css' rel='stylesheet' type='text/css'>

<div class="container">
  <% if session["user"] %>
    <h2> list of merry pranksters </h2>
    <%= erb :navigation %>
    <br>
    <% @list.each do |name| %>
    <p><%= name.username %></p>
    <% end %>
  <% else %>
    <h2>You need to be logged in to see this page.</h2>
  <% end %>
</div>
