<link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'>
<link href='/styles.css' rel='stylesheet' type='text/css'>

<div class="container">
  <h2> list of merry pranksters </h2>
  <br>
  <% @list.each do |name| %>
  <p><%= name.username %></p>
  <% end %>
</div>
