<form method="post" action="/post/new">
  <label>Post something:</label><br>
  <input type="text" name="title"><br>
  <textarea name="content">Put your post in here</textarea><br>
  <input type="submit" value="Post it!">
</form>