 <div class="container">
  <% unless session["user"] %>
  <h1> "Enter your information below to sign up for an account!" </h1>

  <h2> "Seriously, just your username and a password..." </h2>

  <h3> "It doesn't even have to be your real name, we're flexible." </h3>
  
  <form action="/sign_up" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Save">
  </form>

  <%= flash[:notice] %>

  <% else %>
  <p>You're already logged in!!!</p>
  <% end %>
</div>

