<body>
  <body background=http://www.desktopas.com/files/2013/06/Text-Quotes-Typography-Simple-White-Background-By-Doing-Nothing-You-Become-Nothing-1366x768.jpg>
    <a href="/">Return to Homepage</a>

    <h1> "Enter your information below to sign up for an account!" </h1>

    <h2> "Seriously, just your username and a password..." </h2>

    <h3> "It doesn't even have to be your real name, we're desperate." </h3>
    
  <form action="/sign_up" method="post">
      Username: <input type="text" name="username"><br>
      Password: <input type="text" name="password"><br>
    <input type="submit" value="Save">
  </form>

</body>
