<link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'>
<link href='/styles.css' rel='stylesheet' type='text/css'>

<body>
  <div class="container">
    <a class="nav" href="/">Home</a>
    <% unless session["user"] %>
      <h1> "Enter your information below to sign up for an account!" </h1>

      <h2> "Seriously, just your username and a password..." </h2>

      <h3> "It doesn't even have to be your real name, we're desperate." </h3>
      
      <form action="/sign_up" method="post">
          Username: <input type="text" name="username"><br>
          Password: <input type="text" name="password"><br>
        <input type="submit" value="Save">
      </form>
      <% "#{flash[:error]}" if flash[:error] %>
    <% else %>
      <p>You're already logged in!!!</p>
    <% end %>
  </div>

</body>
