body {
	background-image: url('clouds.jpg');
	background-repeat: repeat;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	background-color: #fff;
	box-shadow: 5px 5px 5px #ccc;
	width: 90%;
	margin: 0 auto;
	padding: 5px;
}

h1,h2,h3,h4,h5 {
	font-family: 'Oleo Script', sans-serif;
	text-shadow: 2px 2px 2px #ccc;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
a {
	color: #199A7A;
	text-decoration: none;
	padding: 2px;
}
.signin {
	font-family: 'Oleo Script', sans-serif;
}
p {
	font-family: 'Oxygen', sans-serif;
}
button {
	font-family: 'Oxygen', sans-serif;
}
nav {
	font-family: 'Oleo Script', sans-serif;
	font-size: 2em;
	color: red;
}